.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  .md-mt-5 {
    margin-top: 5px;
  }
  .md-mt-10 {
    margin-top: 10px;
  }
  .md-mt-15 {
    margin-top: 15px;
  }
  .md-mt-20 {
    margin-top: 20px;
  }
  .md-mt-25 {
    margin-top: 25px;
  }
  .md-mt-30 {
    margin-top: 30px;
  }
  .md-mt-35 {
    margin-top: 35px;
  }
  .md-mt-40 {
    margin-top: 40px;
  }
  .md-mt-45 {
    margin-top: 45px;
  }
  .md-mt-50 {
    margin-top: 50px;
  }
  .md-mt-55 {
    margin-top: 55px;
  }
  .md-mt-60 {
    margin-top: 60px;
  }
  .md-mt-65 {
    margin-top: 65px;
  }
  .md-mt-70 {
    margin-top: 70px;
  }
  .md-mt-75 {
    margin-top: 75px;
  }
  .md-mt-80 {
    margin-top: 80px;
  }
  .md-mt-85 {
    margin-top: 85px;
  }
  .md-mt-90 {
    margin-top: 90px;
  }
  .md-mt-95 {
    margin-top: 95px;
  }
  .md-mt-100 {
    margin-top: 100px;
  }
}
@media screen and (max-width: 768px) {
  .sm-mt-5 {
    margin-top: 5px;
  }
  .sm-mt-10 {
    margin-top: 10px;
  }
  .sm-mt-15 {
    margin-top: 15px;
  }
  .sm-mt-20 {
    margin-top: 20px;
  }
  .sm-mt-25 {
    margin-top: 25px;
  }
  .sm-mt-30 {
    margin-top: 30px;
  }
  .sm-mt-35 {
    margin-top: 35px;
  }
  .sm-mt-40 {
    margin-top: 40px;
  }
  .sm-mt-45 {
    margin-top: 45px;
  }
  .sm-mt-50 {
    margin-top: 50px;
  }
  .sm-mt-55 {
    margin-top: 55px;
  }
  .sm-mt-60 {
    margin-top: 60px;
  }
  .sm-mt-65 {
    margin-top: 65px;
  }
  .sm-mt-70 {
    margin-top: 70px;
  }
  .sm-mt-75 {
    margin-top: 75px;
  }
  .sm-mt-80 {
    margin-top: 80px;
  }
  .sm-mt-85 {
    margin-top: 85px;
  }
  .sm-mt-90 {
    margin-top: 90px;
  }
  .sm-mt-95 {
    margin-top: 95px;
  }
  .sm-mt-100 {
    margin-top: 100px;
  }
}
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-65 {
  margin-left: 65px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-75 {
  margin-left: 75px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-85 {
  margin-left: 85px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-95 {
  margin-left: 95px;
}

.ml-100 {
  margin-left: 100px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-55 {
  margin-right: 55px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-65 {
  margin-right: 65px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-75 {
  margin-right: 75px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-85 {
  margin-right: 85px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-95 {
  margin-right: 95px;
}

.mr-100 {
  margin-right: 100px;
}

@media screen and (max-width: 1024px) {
  .md-mt-5 {
    margin-top: 5px;
  }
  .md-mt-10 {
    margin-top: 10px;
  }
  .md-mt-15 {
    margin-top: 15px;
  }
  .md-mt-20 {
    margin-top: 20px;
  }
  .md-mt-25 {
    margin-top: 25px;
  }
  .md-mt-30 {
    margin-top: 30px;
  }
  .md-mt-35 {
    margin-top: 35px;
  }
  .md-mt-40 {
    margin-top: 40px;
  }
  .md-mt-45 {
    margin-top: 45px;
  }
  .md-mt-50 {
    margin-top: 50px;
  }
  .md-mt-55 {
    margin-top: 55px;
  }
  .md-mt-60 {
    margin-top: 60px;
  }
  .md-mt-65 {
    margin-top: 65px;
  }
  .md-mt-70 {
    margin-top: 70px;
  }
  .md-mt-75 {
    margin-top: 75px;
  }
  .md-mt-80 {
    margin-top: 80px;
  }
  .md-mt-85 {
    margin-top: 85px;
  }
  .md-mt-90 {
    margin-top: 90px;
  }
  .md-mt-95 {
    margin-top: 95px;
  }
  .md-mt-100 {
    margin-top: 100px;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-15 {
    margin-bottom: 15px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-25 {
    margin-bottom: 25px;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .mb-35 {
    margin-bottom: 35px;
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  .mb-45 {
    margin-bottom: 45px;
  }
  .mb-50 {
    margin-bottom: 50px;
  }
  .mb-55 {
    margin-bottom: 55px;
  }
  .mb-60 {
    margin-bottom: 60px;
  }
  .mb-65 {
    margin-bottom: 65px;
  }
  .mb-70 {
    margin-bottom: 70px;
  }
  .mb-75 {
    margin-bottom: 75px;
  }
  .mb-80 {
    margin-bottom: 80px;
  }
  .mb-85 {
    margin-bottom: 85px;
  }
  .mb-90 {
    margin-bottom: 90px;
  }
  .mb-95 {
    margin-bottom: 95px;
  }
  .mb-100 {
    margin-bottom: 100px;
  }
  .ml-5 {
    margin-left: 5px;
  }
  .ml-10 {
    margin-left: 10px;
  }
  .ml-15 {
    margin-left: 15px;
  }
  .ml-20 {
    margin-left: 20px;
  }
  .ml-25 {
    margin-left: 25px;
  }
  .ml-30 {
    margin-left: 30px;
  }
  .ml-35 {
    margin-left: 35px;
  }
  .ml-40 {
    margin-left: 40px;
  }
  .ml-45 {
    margin-left: 45px;
  }
  .ml-50 {
    margin-left: 50px;
  }
  .ml-55 {
    margin-left: 55px;
  }
  .ml-60 {
    margin-left: 60px;
  }
  .ml-65 {
    margin-left: 65px;
  }
  .ml-70 {
    margin-left: 70px;
  }
  .ml-75 {
    margin-left: 75px;
  }
  .ml-80 {
    margin-left: 80px;
  }
  .ml-85 {
    margin-left: 85px;
  }
  .ml-90 {
    margin-left: 90px;
  }
  .ml-95 {
    margin-left: 95px;
  }
  .ml-100 {
    margin-left: 100px;
  }
  .mr-5 {
    margin-right: 5px;
  }
  .mr-10 {
    margin-right: 10px;
  }
  .mr-15 {
    margin-right: 15px;
  }
  .mr-20 {
    margin-right: 20px;
  }
  .mr-25 {
    margin-right: 25px;
  }
  .mr-30 {
    margin-right: 30px;
  }
  .mr-35 {
    margin-right: 35px;
  }
  .mr-40 {
    margin-right: 40px;
  }
  .mr-45 {
    margin-right: 45px;
  }
  .mr-50 {
    margin-right: 50px;
  }
  .mr-55 {
    margin-right: 55px;
  }
  .mr-60 {
    margin-right: 60px;
  }
  .mr-65 {
    margin-right: 65px;
  }
  .mr-70 {
    margin-right: 70px;
  }
  .mr-75 {
    margin-right: 75px;
  }
  .mr-80 {
    margin-right: 80px;
  }
  .mr-85 {
    margin-right: 85px;
  }
  .mr-90 {
    margin-right: 90px;
  }
  .mr-95 {
    margin-right: 95px;
  }
  .mr-100 {
    margin-right: 100px;
  }
}
@media screen and (max-width: 768px) {
  .sm-mt-5 {
    margin-top: 5px;
  }
  .sm-mt-10 {
    margin-top: 10px;
  }
  .sm-mt-15 {
    margin-top: 15px;
  }
  .sm-mt-20 {
    margin-top: 20px;
  }
  .sm-mt-25 {
    margin-top: 25px;
  }
  .sm-mt-30 {
    margin-top: 30px;
  }
  .sm-mt-35 {
    margin-top: 35px;
  }
  .sm-mt-40 {
    margin-top: 40px;
  }
  .sm-mt-45 {
    margin-top: 45px;
  }
  .sm-mt-50 {
    margin-top: 50px;
  }
  .sm-mt-55 {
    margin-top: 55px;
  }
  .sm-mt-60 {
    margin-top: 60px;
  }
  .sm-mt-65 {
    margin-top: 65px;
  }
  .sm-mt-70 {
    margin-top: 70px;
  }
  .sm-mt-75 {
    margin-top: 75px;
  }
  .sm-mt-80 {
    margin-top: 80px;
  }
  .sm-mt-85 {
    margin-top: 85px;
  }
  .sm-mt-90 {
    margin-top: 90px;
  }
  .sm-mt-95 {
    margin-top: 95px;
  }
  .sm-mt-100 {
    margin-top: 100px;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-15 {
    margin-bottom: 15px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-25 {
    margin-bottom: 25px;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .mb-35 {
    margin-bottom: 35px;
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  .mb-45 {
    margin-bottom: 45px;
  }
  .mb-50 {
    margin-bottom: 50px;
  }
  .mb-55 {
    margin-bottom: 55px;
  }
  .mb-60 {
    margin-bottom: 60px;
  }
  .mb-65 {
    margin-bottom: 65px;
  }
  .mb-70 {
    margin-bottom: 70px;
  }
  .mb-75 {
    margin-bottom: 75px;
  }
  .mb-80 {
    margin-bottom: 80px;
  }
  .mb-85 {
    margin-bottom: 85px;
  }
  .mb-90 {
    margin-bottom: 90px;
  }
  .mb-95 {
    margin-bottom: 95px;
  }
  .mb-100 {
    margin-bottom: 100px;
  }
  .ml-5 {
    margin-left: 5px;
  }
  .ml-10 {
    margin-left: 10px;
  }
  .ml-15 {
    margin-left: 15px;
  }
  .ml-20 {
    margin-left: 20px;
  }
  .ml-25 {
    margin-left: 25px;
  }
  .ml-30 {
    margin-left: 30px;
  }
  .ml-35 {
    margin-left: 35px;
  }
  .ml-40 {
    margin-left: 40px;
  }
  .ml-45 {
    margin-left: 45px;
  }
  .ml-50 {
    margin-left: 50px;
  }
  .ml-55 {
    margin-left: 55px;
  }
  .ml-60 {
    margin-left: 60px;
  }
  .ml-65 {
    margin-left: 65px;
  }
  .ml-70 {
    margin-left: 70px;
  }
  .ml-75 {
    margin-left: 75px;
  }
  .ml-80 {
    margin-left: 80px;
  }
  .ml-85 {
    margin-left: 85px;
  }
  .ml-90 {
    margin-left: 90px;
  }
  .ml-95 {
    margin-left: 95px;
  }
  .ml-100 {
    margin-left: 100px;
  }
  .mr-5 {
    margin-right: 5px;
  }
  .mr-10 {
    margin-right: 10px;
  }
  .mr-15 {
    margin-right: 15px;
  }
  .mr-20 {
    margin-right: 20px;
  }
  .mr-25 {
    margin-right: 25px;
  }
  .mr-30 {
    margin-right: 30px;
  }
  .mr-35 {
    margin-right: 35px;
  }
  .mr-40 {
    margin-right: 40px;
  }
  .mr-45 {
    margin-right: 45px;
  }
  .mr-50 {
    margin-right: 50px;
  }
  .mr-55 {
    margin-right: 55px;
  }
  .mr-60 {
    margin-right: 60px;
  }
  .mr-65 {
    margin-right: 65px;
  }
  .mr-70 {
    margin-right: 70px;
  }
  .mr-75 {
    margin-right: 75px;
  }
  .mr-80 {
    margin-right: 80px;
  }
  .mr-85 {
    margin-right: 85px;
  }
  .mr-90 {
    margin-right: 90px;
  }
  .mr-95 {
    margin-right: 95px;
  }
  .mr-100 {
    margin-right: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .md-mt-5 {
    margin-top: 5px;
  }
  .md-mt-10 {
    margin-top: 10px;
  }
  .md-mt-15 {
    margin-top: 15px;
  }
  .md-mt-20 {
    margin-top: 20px;
  }
  .md-mt-25 {
    margin-top: 25px;
  }
  .md-mt-30 {
    margin-top: 30px;
  }
  .md-mt-35 {
    margin-top: 35px;
  }
  .md-mt-40 {
    margin-top: 40px;
  }
  .md-mt-45 {
    margin-top: 45px;
  }
  .md-mt-50 {
    margin-top: 50px;
  }
  .md-mt-55 {
    margin-top: 55px;
  }
  .md-mt-60 {
    margin-top: 60px;
  }
  .md-mt-65 {
    margin-top: 65px;
  }
  .md-mt-70 {
    margin-top: 70px;
  }
  .md-mt-75 {
    margin-top: 75px;
  }
  .md-mt-80 {
    margin-top: 80px;
  }
  .md-mt-85 {
    margin-top: 85px;
  }
  .md-mt-90 {
    margin-top: 90px;
  }
  .md-mt-95 {
    margin-top: 95px;
  }
  .md-mt-100 {
    margin-top: 100px;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-15 {
    margin-bottom: 15px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-25 {
    margin-bottom: 25px;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .mb-35 {
    margin-bottom: 35px;
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  .mb-45 {
    margin-bottom: 45px;
  }
  .mb-50 {
    margin-bottom: 50px;
  }
  .mb-55 {
    margin-bottom: 55px;
  }
  .mb-60 {
    margin-bottom: 60px;
  }
  .mb-65 {
    margin-bottom: 65px;
  }
  .mb-70 {
    margin-bottom: 70px;
  }
  .mb-75 {
    margin-bottom: 75px;
  }
  .mb-80 {
    margin-bottom: 80px;
  }
  .mb-85 {
    margin-bottom: 85px;
  }
  .mb-90 {
    margin-bottom: 90px;
  }
  .mb-95 {
    margin-bottom: 95px;
  }
  .mb-100 {
    margin-bottom: 100px;
  }
  .ml-5 {
    margin-left: 5px;
  }
  .ml-10 {
    margin-left: 10px;
  }
  .ml-15 {
    margin-left: 15px;
  }
  .ml-20 {
    margin-left: 20px;
  }
  .ml-25 {
    margin-left: 25px;
  }
  .ml-30 {
    margin-left: 30px;
  }
  .ml-35 {
    margin-left: 35px;
  }
  .ml-40 {
    margin-left: 40px;
  }
  .ml-45 {
    margin-left: 45px;
  }
  .ml-50 {
    margin-left: 50px;
  }
  .ml-55 {
    margin-left: 55px;
  }
  .ml-60 {
    margin-left: 60px;
  }
  .ml-65 {
    margin-left: 65px;
  }
  .ml-70 {
    margin-left: 70px;
  }
  .ml-75 {
    margin-left: 75px;
  }
  .ml-80 {
    margin-left: 80px;
  }
  .ml-85 {
    margin-left: 85px;
  }
  .ml-90 {
    margin-left: 90px;
  }
  .ml-95 {
    margin-left: 95px;
  }
  .ml-100 {
    margin-left: 100px;
  }
  .mr-5 {
    margin-right: 5px;
  }
  .mr-10 {
    margin-right: 10px;
  }
  .mr-15 {
    margin-right: 15px;
  }
  .mr-20 {
    margin-right: 20px;
  }
  .mr-25 {
    margin-right: 25px;
  }
  .mr-30 {
    margin-right: 30px;
  }
  .mr-35 {
    margin-right: 35px;
  }
  .mr-40 {
    margin-right: 40px;
  }
  .mr-45 {
    margin-right: 45px;
  }
  .mr-50 {
    margin-right: 50px;
  }
  .mr-55 {
    margin-right: 55px;
  }
  .mr-60 {
    margin-right: 60px;
  }
  .mr-65 {
    margin-right: 65px;
  }
  .mr-70 {
    margin-right: 70px;
  }
  .mr-75 {
    margin-right: 75px;
  }
  .mr-80 {
    margin-right: 80px;
  }
  .mr-85 {
    margin-right: 85px;
  }
  .mr-90 {
    margin-right: 90px;
  }
  .mr-95 {
    margin-right: 95px;
  }
  .mr-100 {
    margin-right: 100px;
  }
}
@media screen and (max-width: 768px) {
  .sm-mt-5 {
    margin-top: 5px;
  }
  .sm-mt-10 {
    margin-top: 10px;
  }
  .sm-mt-15 {
    margin-top: 15px;
  }
  .sm-mt-20 {
    margin-top: 20px;
  }
  .sm-mt-25 {
    margin-top: 25px;
  }
  .sm-mt-30 {
    margin-top: 30px;
  }
  .sm-mt-35 {
    margin-top: 35px;
  }
  .sm-mt-40 {
    margin-top: 40px;
  }
  .sm-mt-45 {
    margin-top: 45px;
  }
  .sm-mt-50 {
    margin-top: 50px;
  }
  .sm-mt-55 {
    margin-top: 55px;
  }
  .sm-mt-60 {
    margin-top: 60px;
  }
  .sm-mt-65 {
    margin-top: 65px;
  }
  .sm-mt-70 {
    margin-top: 70px;
  }
  .sm-mt-75 {
    margin-top: 75px;
  }
  .sm-mt-80 {
    margin-top: 80px;
  }
  .sm-mt-85 {
    margin-top: 85px;
  }
  .sm-mt-90 {
    margin-top: 90px;
  }
  .sm-mt-95 {
    margin-top: 95px;
  }
  .sm-mt-100 {
    margin-top: 100px;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-15 {
    margin-bottom: 15px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-25 {
    margin-bottom: 25px;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .mb-35 {
    margin-bottom: 35px;
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  .mb-45 {
    margin-bottom: 45px;
  }
  .mb-50 {
    margin-bottom: 50px;
  }
  .mb-55 {
    margin-bottom: 55px;
  }
  .mb-60 {
    margin-bottom: 60px;
  }
  .mb-65 {
    margin-bottom: 65px;
  }
  .mb-70 {
    margin-bottom: 70px;
  }
  .mb-75 {
    margin-bottom: 75px;
  }
  .mb-80 {
    margin-bottom: 80px;
  }
  .mb-85 {
    margin-bottom: 85px;
  }
  .mb-90 {
    margin-bottom: 90px;
  }
  .mb-95 {
    margin-bottom: 95px;
  }
  .mb-100 {
    margin-bottom: 100px;
  }
  .ml-5 {
    margin-left: 5px;
  }
  .ml-10 {
    margin-left: 10px;
  }
  .ml-15 {
    margin-left: 15px;
  }
  .ml-20 {
    margin-left: 20px;
  }
  .ml-25 {
    margin-left: 25px;
  }
  .ml-30 {
    margin-left: 30px;
  }
  .ml-35 {
    margin-left: 35px;
  }
  .ml-40 {
    margin-left: 40px;
  }
  .ml-45 {
    margin-left: 45px;
  }
  .ml-50 {
    margin-left: 50px;
  }
  .ml-55 {
    margin-left: 55px;
  }
  .ml-60 {
    margin-left: 60px;
  }
  .ml-65 {
    margin-left: 65px;
  }
  .ml-70 {
    margin-left: 70px;
  }
  .ml-75 {
    margin-left: 75px;
  }
  .ml-80 {
    margin-left: 80px;
  }
  .ml-85 {
    margin-left: 85px;
  }
  .ml-90 {
    margin-left: 90px;
  }
  .ml-95 {
    margin-left: 95px;
  }
  .ml-100 {
    margin-left: 100px;
  }
  .mr-5 {
    margin-right: 5px;
  }
  .mr-10 {
    margin-right: 10px;
  }
  .mr-15 {
    margin-right: 15px;
  }
  .mr-20 {
    margin-right: 20px;
  }
  .mr-25 {
    margin-right: 25px;
  }
  .mr-30 {
    margin-right: 30px;
  }
  .mr-35 {
    margin-right: 35px;
  }
  .mr-40 {
    margin-right: 40px;
  }
  .mr-45 {
    margin-right: 45px;
  }
  .mr-50 {
    margin-right: 50px;
  }
  .mr-55 {
    margin-right: 55px;
  }
  .mr-60 {
    margin-right: 60px;
  }
  .mr-65 {
    margin-right: 65px;
  }
  .mr-70 {
    margin-right: 70px;
  }
  .mr-75 {
    margin-right: 75px;
  }
  .mr-80 {
    margin-right: 80px;
  }
  .mr-85 {
    margin-right: 85px;
  }
  .mr-90 {
    margin-right: 90px;
  }
  .mr-95 {
    margin-right: 95px;
  }
  .mr-100 {
    margin-right: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .md-mt-5 {
    margin-top: 5px;
  }
  .md-mt-10 {
    margin-top: 10px;
  }
  .md-mt-15 {
    margin-top: 15px;
  }
  .md-mt-20 {
    margin-top: 20px;
  }
  .md-mt-25 {
    margin-top: 25px;
  }
  .md-mt-30 {
    margin-top: 30px;
  }
  .md-mt-35 {
    margin-top: 35px;
  }
  .md-mt-40 {
    margin-top: 40px;
  }
  .md-mt-45 {
    margin-top: 45px;
  }
  .md-mt-50 {
    margin-top: 50px;
  }
  .md-mt-55 {
    margin-top: 55px;
  }
  .md-mt-60 {
    margin-top: 60px;
  }
  .md-mt-65 {
    margin-top: 65px;
  }
  .md-mt-70 {
    margin-top: 70px;
  }
  .md-mt-75 {
    margin-top: 75px;
  }
  .md-mt-80 {
    margin-top: 80px;
  }
  .md-mt-85 {
    margin-top: 85px;
  }
  .md-mt-90 {
    margin-top: 90px;
  }
  .md-mt-95 {
    margin-top: 95px;
  }
  .md-mt-100 {
    margin-top: 100px;
  }
}
@media screen and (max-width: 768px) {
  .sm-mt-5 {
    margin-top: 5px;
  }
  .sm-mt-10 {
    margin-top: 10px;
  }
  .sm-mt-15 {
    margin-top: 15px;
  }
  .sm-mt-20 {
    margin-top: 20px;
  }
  .sm-mt-25 {
    margin-top: 25px;
  }
  .sm-mt-30 {
    margin-top: 30px;
  }
  .sm-mt-35 {
    margin-top: 35px;
  }
  .sm-mt-40 {
    margin-top: 40px;
  }
  .sm-mt-45 {
    margin-top: 45px;
  }
  .sm-mt-50 {
    margin-top: 50px;
  }
  .sm-mt-55 {
    margin-top: 55px;
  }
  .sm-mt-60 {
    margin-top: 60px;
  }
  .sm-mt-65 {
    margin-top: 65px;
  }
  .sm-mt-70 {
    margin-top: 70px;
  }
  .sm-mt-75 {
    margin-top: 75px;
  }
  .sm-mt-80 {
    margin-top: 80px;
  }
  .sm-mt-85 {
    margin-top: 85px;
  }
  .sm-mt-90 {
    margin-top: 90px;
  }
  .sm-mt-95 {
    margin-top: 95px;
  }
  .sm-mt-100 {
    margin-top: 100px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  font-size: 16px;
  line-height: 1.3;
  color: #100d0e;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

body *:focus {
  outline: none !important;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1440px;
}

input[type=text],
input[type=password],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=week],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=color],
textarea {
  outline: none;
}

select {
  outline: none;
}

select option {
  padding: 4px 8px;
  font-size: 13px;
  outline: none;
  font-family: Arial;
}

textarea {
  resize: none;
  line-height: 18px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 500;
  color: #100d0e;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0;
  font-family: "Poppins", sans-serif;
}

h1,
.h1 {
  font-size: 42px;
}

h2,
.h2 {
  font-size: 38px;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 22px;
  margin: 0;
}

h5,
.h5 {
  font-size: 22px;
}

h6,
.h6 {
  font-size: 20px;
}

input:focus,
button:focus,
textarea:focus,
select:focus,
details:focus,
[href]:focus,
[tabindex]:not([tabindex="-1"]):focus,
[contenteditable=true]:focus {
  outline: none !important;
}

p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

a {
  outline: none !important;
  text-decoration: none;
  color: #100d0e;
  transition: all 0.3s ease-out 100ms;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  width: 100%;
}

input:focus + label {
  outline: none !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 -0.5rem;
}
.row > .col {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .lg-col-1 {
    flex: 0 0 8.3333333333%;
    min-width: 8.3333333333%;
  }
}

@media screen and (min-width: 1024px) {
  .lg-col-2 {
    flex: 0 0 16.6666666667%;
    min-width: 16.6666666667%;
  }
}

@media screen and (min-width: 1024px) {
  .lg-col-3 {
    flex: 0 0 25%;
    min-width: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .lg-col-4 {
    flex: 0 0 33.3333333333%;
    min-width: 33.3333333333%;
  }
}

@media screen and (min-width: 1024px) {
  .lg-col-5 {
    flex: 0 0 41.6666666667%;
    min-width: 41.6666666667%;
  }
}

@media screen and (min-width: 1024px) {
  .lg-col-6 {
    flex: 0 0 50%;
    min-width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .lg-col-7 {
    flex: 0 0 58.3333333333%;
    min-width: 58.3333333333%;
  }
}

@media screen and (min-width: 1024px) {
  .lg-col-8 {
    flex: 0 0 66.6666666667%;
    min-width: 66.6666666667%;
  }
}

@media screen and (min-width: 1024px) {
  .lg-col-9 {
    flex: 0 0 75%;
    min-width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .lg-col-10 {
    flex: 0 0 83.3333333333%;
    min-width: 83.3333333333%;
  }
}

@media screen and (min-width: 1024px) {
  .lg-col-11 {
    flex: 0 0 91.6666666667%;
    min-width: 91.6666666667%;
  }
}

@media screen and (min-width: 1024px) {
  .lg-col-12 {
    flex: 0 0 100%;
    min-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .md-col-1 {
    flex: 0 0 8.3333333333%;
    min-width: 8.3333333333%;
  }
}

@media screen and (max-width: 1024px) {
  .md-col-2 {
    flex: 0 0 16.6666666667%;
    min-width: 16.6666666667%;
  }
}

@media screen and (max-width: 1024px) {
  .md-col-3 {
    flex: 0 0 25%;
    min-width: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .md-col-4 {
    flex: 0 0 33.3333333333%;
    min-width: 33.3333333333%;
  }
}

@media screen and (max-width: 1024px) {
  .md-col-5 {
    flex: 0 0 41.6666666667%;
    min-width: 41.6666666667%;
  }
}

@media screen and (max-width: 1024px) {
  .md-col-6 {
    flex: 0 0 50%;
    min-width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .md-col-7 {
    flex: 0 0 58.3333333333%;
    min-width: 58.3333333333%;
  }
}

@media screen and (max-width: 1024px) {
  .md-col-8 {
    flex: 0 0 66.6666666667%;
    min-width: 66.6666666667%;
  }
}

@media screen and (max-width: 1024px) {
  .md-col-9 {
    flex: 0 0 75%;
    min-width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .md-col-10 {
    flex: 0 0 83.3333333333%;
    min-width: 83.3333333333%;
  }
}

@media screen and (max-width: 1024px) {
  .md-col-11 {
    flex: 0 0 91.6666666667%;
    min-width: 91.6666666667%;
  }
}

@media screen and (max-width: 1024px) {
  .md-col-12 {
    flex: 0 0 100%;
    min-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .sm-col-1 {
    flex: 0 0 8.3333333333%;
    min-width: 8.3333333333%;
  }
}

@media screen and (max-width: 768px) {
  .sm-col-2 {
    flex: 0 0 16.6666666667%;
    min-width: 16.6666666667%;
  }
}

@media screen and (max-width: 768px) {
  .sm-col-3 {
    flex: 0 0 25%;
    min-width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .sm-col-4 {
    flex: 0 0 33.3333333333%;
    min-width: 33.3333333333%;
  }
}

@media screen and (max-width: 768px) {
  .sm-col-5 {
    flex: 0 0 41.6666666667%;
    min-width: 41.6666666667%;
  }
}

@media screen and (max-width: 768px) {
  .sm-col-6 {
    flex: 0 0 50%;
    min-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .sm-col-7 {
    flex: 0 0 58.3333333333%;
    min-width: 58.3333333333%;
  }
}

@media screen and (max-width: 768px) {
  .sm-col-8 {
    flex: 0 0 66.6666666667%;
    min-width: 66.6666666667%;
  }
}

@media screen and (max-width: 768px) {
  .sm-col-9 {
    flex: 0 0 75%;
    min-width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .sm-col-10 {
    flex: 0 0 83.3333333333%;
    min-width: 83.3333333333%;
  }
}

@media screen and (max-width: 768px) {
  .sm-col-11 {
    flex: 0 0 91.6666666667%;
    min-width: 91.6666666667%;
  }
}

@media screen and (max-width: 768px) {
  .sm-col-12 {
    flex: 0 0 100%;
    min-width: 100%;
  }
}

svg {
  stroke: #4e4351;
}

.heart svg {
  fill: #4e4351;
}

.header-section {
  padding: 24px 0;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.header-section .header-item1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.header-section .header-item1 .item1-inner {
  padding: 0 17px;
}
.header-section .header-item1 .item1-inner:first-child {
  padding-left: 0px;
}
.header-section .header-item1 .item1-inner:last-child {
  padding-right: 0px;
}
.header-section .header-item1 .item1-inner a:hover svg {
  stroke: #782374;
}
.header-section .header-item1 .item1-inner .heart:hover svg {
  fill: #782374;
}
.header-section .logo-img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.header-section .logo-img img {
  max-height: 40px;
  width: auto;
}
.header-section .item2 {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.banner {
  position: relative;
}
.banner .banner-content {
  position: absolute;
  bottom: 40%;
  left: 0;
  padding: 0 15px;
  width: 100%;
}
.banner .banner-content .caption {
  max-width: 800px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}
.grid-container .grid-item .grid-img-lg {
  position: relative;
  overflow: hidden;
}
.grid-container .grid-item .grid-img-lg:hover img {
  transform: scale(1.04);
}
.grid-container .grid-item .grid-img-lg img {
  height: 592px;
  transition: transform 0.55s, -webkit-transform 0.55s;
}
.grid-container .grid-item .grid-img-lg .grid-content {
  position: absolute;
  bottom: 0;
  display: block;
  left: 0;
  padding: 32px;
  position: absolute;
  width: 100%;
}
.grid-container .grid-item .grid-img-lg .grid-content h4 {
  display: inline-block;
  border-bottom: 1px solid transparent;
}
.grid-container .grid-item .grid-img-lg .grid-content:hover h4 {
  border-bottom: 1px solid currentColor;
}
.grid-container .grid-item .grid-img-sm {
  position: relative;
  overflow: hidden;
}
.grid-container .grid-item .grid-img-sm:hover img {
  transform: scale(1.04);
}
.grid-container .grid-item .grid-img-sm img {
  height: 286px;
  transition: transform 0.55s, -webkit-transform 0.55s;
}
.grid-container .grid-item .grid-img-sm .grid-content {
  position: absolute;
  bottom: 0;
  display: block;
  left: 0;
  padding: 32px;
  position: absolute;
  width: 100%;
}
.grid-container .grid-item .grid-img-sm .grid-content h4 {
  display: inline-block;
  border-bottom: 1px solid transparent;
}
.grid-container .grid-item .grid-img-sm .grid-content:hover h4 {
  border-bottom: 1px solid currentColor;
}
.grid-container .item1,
.grid-container .item2 {
  grid-column: 1/span 1;
}
.grid-container .item3 {
  grid-column: 2/span 1;
  grid-row: 1/span 2;
}
.grid-container .item4 {
  grid-column: 3/span 2;
  grid-row: 1/span 1;
}
.grid-container .item5 {
  grid-column: 3/span 1;
}
.grid-container .item6 {
  grid-column: 4/span 1;
}

.usp-section .usp-heading {
  text-align: center;
}
.usp-section .usp-banner-items {
  border: 1px solid #e2e2e4;
  padding: 15px 0;
}
.usp-section .usp-banner-items .col {
  margin: 10px 0;
  width: 20%;
  border-right: 1px solid #e2e2e4;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.usp-section .usp-banner-items .col:last-child {
  border: none;
}
.usp-section .usp-banner-items .col .banner-item {
  padding: 0 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.usp-section .usp-banner-items .col .banner-item .usp-icon {
  min-width: 40px;
  margin-right: 12px;
  flex-basis: 40px;
}
.usp-section .usp-banner-items .col .banner-item .usp-name p {
  font-weight: 500;
}

.fine-jewelry-content {
  text-align: center;
}

.lg-col-3:hover .fine-jewelry-content h4 {
  color: #782374;
}

.fine-jewelry-img {
  aspect-ratio: 1/1;
  overflow: hidden;
}
.fine-jewelry-img:hover img {
  transform: scale(1.04);
}
.fine-jewelry-img img {
  object-fit: cover;
  height: 100%;
  transition: transform 0.55s, -webkit-transform 0.55s;
}

.diamonds-by-shape .diamonds-by-shape-heading {
  text-align: center;
}
.diamonds-by-shape .diamonds-by-shape-items .row {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.diamonds-by-shape .diamonds-by-shape-items .row .col:hover .diamond-heading p {
  color: #782374;
}
.diamonds-by-shape .diamonds-by-shape-items .row .col .diamond-img {
  max-width: 100px;
}
.diamonds-by-shape .diamonds-by-shape-items .row .col .diamond-heading {
  text-align: center;
}
.diamonds-by-shape .diamonds-by-shape-items .row .col .diamond-heading p {
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
