$color--primary:#782374;
$color-secondary:#100d0e;

//for column
$column-count:12;
$gutter-size:0.5rem;

//BreakPoint
$large:1024px;
$medium:1024px;
$small:768px;

//margin-mixin
$max: 100;
$offset: 5;
$unit: 'px';